USE [TP_Final]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Estado] [bit] NULL,
	[Imagen] [varchar](max) NULL,
 CONSTRAINT [PK__categori__CD54BC5A4F48B909] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[ID_venta] [int] NOT NULL,
	[ID_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_producto] [int] NULL,
	[Cantidad] [int] NULL,
	[Precio_unitario] [float] NULL,
 CONSTRAINT [PK__detalle___2027566B85509CBE] PRIMARY KEY CLUSTERED 
(
	[ID_venta] ASC,
	[ID_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[envio]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[envio](
	[ID_envio] [int] NOT NULL,
	[Nombre_Envio] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[ID_marca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK__marca__36DBB8CBB84B265E] PRIMARY KEY CLUSTERED 
(
	[ID_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pago]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pago](
	[ID_pago] [int] NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NULL,
	[ID_marca] [int] NULL,
	[Precio_unitario] [float] NULL,
	[ID_categoria] [int] NULL,
	[Estado] [int] NULL,
	[Nombre] [varchar](255) NULL,
	[Imagen] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
 CONSTRAINT [PK__producto__FF341C0D97BB8109] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[ID_rol] [int] NOT NULL,
	[Tipo_de_Rol] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[ID_Sucursal] [int] NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Direccion] [varchar](255) NULL,
	[Telefono] [int] NULL,
	[mail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[ID_usuario] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [int] NULL,
	[Nombre] [varchar](255) NULL,
	[Apellido] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Direccion] [varchar](255) NULL,
	[Nombre_Usuario] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Telefono] [varchar](255) NULL,
	[DNI] [varchar](8) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK__usuario__4E3E04AD70658984] PRIMARY KEY CLUSTERED 
(
	[ID_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[ID_venta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[ID_usuario] [int] NULL,
	[Direccion] [varchar](255) NULL,
	[Total] [decimal](18, 0) NULL,
	[Modo_envio] [int] NULL,
	[Modo_pago] [int] NULL,
	[Nro_tajeta] [varchar](16) NULL,
	[Codigo_tarjeta] [varchar](3) NULL,
	[ID_sucursal] [int] NULL,
 CONSTRAINT [PK__venta__459533BF7205C55B] PRIMARY KEY CLUSTERED 
(
	[ID_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([id_categoria], [Nombre], [Estado], [Imagen]) VALUES (1, N'Monitores', 1, N'/Categorias/monitor.jpg')
INSERT [dbo].[categoria] ([id_categoria], [Nombre], [Estado], [Imagen]) VALUES (2, N'Televisores', 1, N'/Categorias/televisor.jpg')
INSERT [dbo].[categoria] ([id_categoria], [Nombre], [Estado], [Imagen]) VALUES (3, N'Telefonos', 1, N'/Categorias/celular.png')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_venta] ON 

INSERT [dbo].[detalle_venta] ([ID_venta], [ID_detalle_venta], [ID_producto], [Cantidad], [Precio_unitario]) VALUES (1, 1, 1, 1, 74999)
INSERT [dbo].[detalle_venta] ([ID_venta], [ID_detalle_venta], [ID_producto], [Cantidad], [Precio_unitario]) VALUES (1, 2, 2, 1, 30999)
INSERT [dbo].[detalle_venta] ([ID_venta], [ID_detalle_venta], [ID_producto], [Cantidad], [Precio_unitario]) VALUES (2, 3, 3, 4, 98643)
SET IDENTITY_INSERT [dbo].[detalle_venta] OFF
GO
INSERT [dbo].[envio] ([ID_envio], [Nombre_Envio]) VALUES (1, N'Retiro')
INSERT [dbo].[envio] ([ID_envio], [Nombre_Envio]) VALUES (2, N'Envio')
GO
SET IDENTITY_INSERT [dbo].[marca] ON 

INSERT [dbo].[marca] ([ID_marca], [Nombre], [Estado]) VALUES (1, N'Motorola', 1)
INSERT [dbo].[marca] ([ID_marca], [Nombre], [Estado]) VALUES (2, N'LG', 1)
INSERT [dbo].[marca] ([ID_marca], [Nombre], [Estado]) VALUES (3, N'TCL', 0)
SET IDENTITY_INSERT [dbo].[marca] OFF
GO
INSERT [dbo].[pago] ([ID_pago], [Descripcion]) VALUES (1, N'Debito')
INSERT [dbo].[pago] ([ID_pago], [Descripcion]) VALUES (2, N'Credito')
INSERT [dbo].[pago] ([ID_pago], [Descripcion]) VALUES (3, N'Efectivo')
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id_producto], [Stock], [ID_marca], [Precio_unitario], [ID_categoria], [Estado], [Nombre], [Imagen], [Descripcion]) VALUES (1, 4, 1, 10889, 3, 1, N'Moto Edge Xt 2063-55', N'/Imagenes/5.jpg', N'Pensado para vos
El Samsung A01 Core posee el novedoso sistema operativo Android 10 que incorpora respuestas inteligentes y acciones sugeridas para todas tus aplicaciones. Entre sus diversas funcionalidades encontrarás el tema oscuro, navegación por gest')
INSERT [dbo].[producto] ([id_producto], [Stock], [ID_marca], [Precio_unitario], [ID_categoria], [Estado], [Nombre], [Imagen], [Descripcion]) VALUES (2, 45, 1, 30999, 3, 1, N'Moto G8 Power Xt2041-1', N'https://icdn7.digitaltrends.com/image/digitaltrends_es/huawei-p30-pro-review-6v2-720x480.jpg', N'Pensado para vos
El Samsung A01 Core posee el novedoso sistema operativo Android 10 que incorpora respuestas inteligentes y acciones sugeridas para todas tus aplicaciones. Entre sus diversas funcionalidades encontrarás el tema oscuro, navegación por gest')
INSERT [dbo].[producto] ([id_producto], [Stock], [ID_marca], [Precio_unitario], [ID_categoria], [Estado], [Nombre], [Imagen], [Descripcion]) VALUES (3, 93, 2, 23999, 3, 1, N'L9 ', N'https://cnet4.cbsistatic.com/img/Ti5ieQB8i-dJE-t7WXwGnM6KvCw=/940x0/2019/08/26/bbdae7a7-d19c-4209-a291-db2d2b4871a5/lgk40s-02.jpg', N'Pensado para vos
El Samsung A01 Core posee el novedoso sistema operativo Android 10 que incorpora respuestas inteligentes y acciones sugeridas para todas tus aplicaciones. Entre sus diversas funcionalidades encontrarás el tema oscuro, navegación por gest')
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
INSERT [dbo].[rol] ([ID_rol], [Tipo_de_Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[rol] ([ID_rol], [Tipo_de_Rol]) VALUES (2, N'Usuario')
GO
INSERT [dbo].[sucursal] ([ID_Sucursal], [Nombre], [Direccion], [Telefono], [mail]) VALUES (1, N'FUNNDEV', N'Av. Italia 9999', 42885948, N'F@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([ID_usuario], [Rol], [Nombre], [Apellido], [Email], [Direccion], [Nombre_Usuario], [Password], [Telefono], [DNI], [Estado]) VALUES (1, 1, N'Leo', N'Mattioli', N'leo_mattioli@gmail.com', N'Constitucion 1212', N'Admin', N'Admin', N'1122592000', N'11111111', NULL)
INSERT [dbo].[usuario] ([ID_usuario], [Rol], [Nombre], [Apellido], [Email], [Direccion], [Nombre_Usuario], [Password], [Telefono], [DNI], [Estado]) VALUES (2, 2, N'Cristian', N'Graus', N'cgraus@gmail.com', N'Guido Spano 1111', N'cgraus', N'cgraus', N'11009988', N'22222222', NULL)
INSERT [dbo].[usuario] ([ID_usuario], [Rol], [Nombre], [Apellido], [Email], [Direccion], [Nombre_Usuario], [Password], [Telefono], [DNI], [Estado]) VALUES (3, 2, N'Leo', N'Mattioli', N'leo_mattioli@gmail.com', N'Constitucion 22222222222222222222222', N'Admin', N'Admin', N'1122592000', N'11111111', 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[venta] ON 

INSERT [dbo].[venta] ([ID_venta], [Fecha], [ID_usuario], [Direccion], [Total], [Modo_envio], [Modo_pago], [Nro_tajeta], [Codigo_tarjeta], [ID_sucursal]) VALUES (1, CAST(N'2020-11-05' AS Date), 2, N'Guido Spano 1111', CAST(105998 AS Decimal(18, 0)), 2, 2, N'1111222233334444', N'123', 1)
INSERT [dbo].[venta] ([ID_venta], [Fecha], [ID_usuario], [Direccion], [Total], [Modo_envio], [Modo_pago], [Nro_tajeta], [Codigo_tarjeta], [ID_sucursal]) VALUES (2, CAST(N'2020-10-09' AS Date), 3, N'Av las heras', CAST(29892 AS Decimal(18, 0)), 1, 1, N'82673282', N'123', 1)
INSERT [dbo].[venta] ([ID_venta], [Fecha], [ID_usuario], [Direccion], [Total], [Modo_envio], [Modo_pago], [Nro_tajeta], [Codigo_tarjeta], [ID_sucursal]) VALUES (3, CAST(N'2021-11-08' AS Date), 1, N'Venecia 78', CAST(12353 AS Decimal(18, 0)), 2, 1, N'738723823', N'21', 2)
SET IDENTITY_INSERT [dbo].[venta] OFF
GO
ALTER TABLE [dbo].[categoria] ADD  CONSTRAINT [DF__categoria__Nombr__48CFD27E]  DEFAULT (NULL) FOR [Nombre]
GO
ALTER TABLE [dbo].[detalle_venta] ADD  CONSTRAINT [DF__detalle_v__id_pr__49C3F6B7]  DEFAULT (NULL) FOR [ID_producto]
GO
ALTER TABLE [dbo].[detalle_venta] ADD  CONSTRAINT [DF__detalle_v__canti__4AB81AF0]  DEFAULT (NULL) FOR [Cantidad]
GO
ALTER TABLE [dbo].[detalle_venta] ADD  CONSTRAINT [DF__detalle_v__preci__4BAC3F29]  DEFAULT (NULL) FOR [Precio_unitario]
GO
ALTER TABLE [dbo].[envio] ADD  DEFAULT (NULL) FOR [Nombre_Envio]
GO
ALTER TABLE [dbo].[marca] ADD  CONSTRAINT [DF__marca__Nombre__4D94879B]  DEFAULT (NULL) FOR [Nombre]
GO
ALTER TABLE [dbo].[pago] ADD  DEFAULT (NULL) FOR [Descripcion]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__stock__5070F446]  DEFAULT (NULL) FOR [Stock]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__id_mar__5165187F]  DEFAULT (NULL) FOR [ID_marca]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__precio__52593CB8]  DEFAULT (NULL) FOR [Precio_unitario]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__id_cat__534D60F1]  DEFAULT (NULL) FOR [ID_categoria]
GO
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [DF__producto__estado__5441852A]  DEFAULT (NULL) FOR [Estado]
GO
ALTER TABLE [dbo].[rol] ADD  DEFAULT (NULL) FOR [Tipo_de_Rol]
GO
ALTER TABLE [dbo].[sucursal] ADD  DEFAULT (NULL) FOR [Nombre]
GO
ALTER TABLE [dbo].[sucursal] ADD  DEFAULT (NULL) FOR [Direccion]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__rol__5812160E]  DEFAULT (NULL) FOR [Rol]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__nombre__59063A47]  DEFAULT (NULL) FOR [Nombre]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__apellid__59FA5E80]  DEFAULT (NULL) FOR [Apellido]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__email__5AEE82B9]  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__direcci__5BE2A6F2]  DEFAULT (NULL) FOR [Direccion]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__passwor__5CD6CB2B]  DEFAULT (NULL) FOR [Password]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__telefon__5DCAEF64]  DEFAULT (NULL) FOR [Telefono]
GO
ALTER TABLE [dbo].[usuario] ADD  CONSTRAINT [DF__usuario__DNI__5EBF139D]  DEFAULT (NULL) FOR [DNI]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__fecha__5FB337D6]  DEFAULT (NULL) FOR [Fecha]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__id_usuari__60A75C0F]  DEFAULT (NULL) FOR [ID_usuario]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__direccion__619B8048]  DEFAULT (NULL) FOR [Direccion]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__total__628FA481]  DEFAULT (NULL) FOR [Total]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__modo_envi__6383C8BA]  DEFAULT (NULL) FOR [Modo_envio]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__modo_pago__6477ECF3]  DEFAULT (NULL) FOR [Modo_pago]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__nro_tajet__656C112C]  DEFAULT (NULL) FOR [Nro_tajeta]
GO
ALTER TABLE [dbo].[venta] ADD  CONSTRAINT [DF__venta__codigo_ta__66603565]  DEFAULT (NULL) FOR [Codigo_tarjeta]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [detalle_venta_ibfk_1] FOREIGN KEY([ID_venta])
REFERENCES [dbo].[venta] ([ID_venta])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [detalle_venta_ibfk_1]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [detalle_venta_ibfk_2] FOREIGN KEY([ID_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [detalle_venta_ibfk_2]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [producto_ibfk_1] FOREIGN KEY([ID_marca])
REFERENCES [dbo].[marca] ([ID_marca])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [producto_ibfk_1]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [producto_ibfk_2] FOREIGN KEY([ID_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [producto_ibfk_2]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([Rol])
REFERENCES [dbo].[rol] ([ID_rol])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_rol]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMarca]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMarca]
@ID_marca_v INT,
@Nombre_v VARCHAR(255),
@Estado_v bit
AS
UPDATE marca
SET
Nombre = @Nombre_v,
Estado = @Estado_v
WHERE ID_marca = @ID_marca_v
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCategoria]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearCategoria]
@Nombre varchar(225),
@Imagen varchar(max),
@Estado bit
AS
BEGIN
INSERT INTO Categoria(Nombre,Estado,Imagen)
VALUES(@Nombre, @Estado, @Imagen)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Create_Marca]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Create_Marca]
@Nombre_v varchar(225),
@Estado_v bit
AS
BEGIN
INSERT INTO marca(Nombre,Estado)
VALUES(@Nombre_v, @Estado_v)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCategoria]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarCategoria]
@Nombre varchar(255)
AS
UPDATE Categoria
SET Estado = 0
WHERE Nombre = @Nombre
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMarca]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMarca]
@Nombre_v varchar(255)
AS
UPDATE marca
SET Estado = 0
WHERE Nombre = @Nombre_v
GO
/****** Object:  StoredProcedure [dbo].[spActivarProducto]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[spActivarProducto]
    (
    @id_producto_programa int
    ) 
    AS
    update producto
	set
	Estado = 1
    WHERE id_producto = @id_producto_programa 
    RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarCategoria]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarCategoria]
(
@IDCAT int,
@ESTADOCAT bit,
@NOMBRECAT varchar(255)
)
AS
UPDATE categoria
SET
Estado = @ESTADOCAT,
Nombre = @NOMBRECAT

WHERE
id_categoria = @IDCAT
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarProducto]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarProducto]
(
@IDPROD int,
@STOCK int,
@MARCA int,
@PRECIO float,
@CATEGORIA int,
@ESTADO int,
@NOMBRE varchar(255),
@IMAGEN varchar(255),
@DESCRIPCION varchar(255)
)
AS
UPDATE producto
SET
Stock = @STOCK,
ID_marca = @MARCA,
Precio_unitario = @PRECIO,
ID_categoria = @CATEGORIA,
Estado = @ESTADO,
Nombre = @NOMBRE,
Imagen = @IMAGEN,
Descripcion = @DESCRIPCION
WHERE
id_producto = @IDPROD
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarUsuario] 
(
@IDUSUARIO int, 
@NOMBRE varchar(255),
@APELLIDO varchar(255),
@EMAIL varchar(255),
@DIRECCION varchar(255),
@NOMBREUSUARIO varchar(255),
@TELEFONO varchar(255)
)
AS
UPDATE usuario 
SET

Nombre = @NOMBRE,
Apellido = @APELLIDO,
Email = @EMAIL,
Direccion = @DIRECCION,
Nombre_Usuario = @NOMBREUSUARIO,
Telefono = @TELEFONO
WHERE
ID_usuario = @IDUSUARIO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spBuscarProductoRepetido]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarProductoRepetido]
(@NOMBRE varchar(255))
AS
SELECT Nombre FROM producto WHERE Nombre = @NOMBRE
GO
/****** Object:  StoredProcedure [dbo].[spCrearProducto]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spCrearProducto]
(
@STOCK int,
@MARCA int,
@PRECIO float,
@CATEGORIA int,
@ESTADO int,
@NOMBRE varchar(255),
@IMAGEN varchar(255),
@DESCRIPCION varchar(255)
)
AS
insert into producto
(
Stock,
ID_marca,
Precio_unitario,
ID_categoria,
Estado,
Nombre,
Imagen,
Descripcion
)
VALUES
(
@STOCK,
@MARCA,
@PRECIO,
@CATEGORIA,
@ESTADO,
@NOMBRE,
@IMAGEN,
@DESCRIPCION
)
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spCrearUsuario]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCrearUsuario] /* NOMBRE DEL PROCEDIMIENTO*/
(
/*PARAMETROS RECIBIDOS DEL PROGRAMA*/
@ROL int, 
@NOMBRE varchar(255),
@APELLIDO varchar(255),
@EMAIL varchar(255),
@DIRECCION varchar(255),
@NOMBREUSUARIO varchar(255),
@PASSWORD varchar(255),
@TELEFONO varchar(255),
@DNI varchar(8),
@ESTADO bit
)
AS
INSERT INTO Usuario /*TABLA A LA QUE VAS A CARGAR EL USUARIO*/
(
Rol,
Nombre,
Apellido,
Email,
Direccion,
Nombre_Usuario,
Password,
Telefono,
DNI,
Estado
)
VALUES
(
@ROL,
@NOMBRE,
@APELLIDO,
@EMAIL,
@DIRECCION,
@NOMBREUSUARIO,
@PASSWORD,
@TELEFONO,
@DNI,
@ESTADO
)
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spDescontarStock]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDescontarStock]
    (
    @id_producto int,
	@stock int
    ) 
    AS
    update producto
	set
	Stock = @stock
    WHERE id_producto = @id_producto
    RETURN
GO
/****** Object:  StoredProcedure [dbo].[SpDetalleVentaRegistro]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpDetalleVentaRegistro]
@IDVENTA INT, @ID_PRODUCTO INT, @CANTIDAD INT, @PRECIO_UNITARIO FLOAT
AS
INSERT INTO DETALLE_VENTA ("ID_venta","ID_producto","cantidad","Precio_unitario")
VALUES
(
@IDVENTA, 
@ID_PRODUCTO, 
@CANTIDAD, 
@PRECIO_UNITARIO
) ;
RETURN 
GO
/****** Object:  StoredProcedure [dbo].[spEliminarProducto]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarProducto]
    (
    @id_producto_programa int
    ) 
    AS
    update producto
	set
	Estado = 0
    WHERE id_producto = @id_producto_programa 
    RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuario]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarUsuario]
(
@IDUSUARIO int
) 
AS
UPDATE usuario 
set 
Estado = 0 
WHERE id_usuario = @IDUSUARIO
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarVenta]    Script Date: 11/20/2020 5:10:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRegistrarVenta]
@FECHAVENTA DATE, @ID_USUARIO INT, @DIRECCION VARCHAR(255), @TOTAL FLOAT, @MODO_ENVIO INT, @MODO_PAGO INT, @NROTARJETA VARCHAR(255), @CODTARJETA VARCHAR (3), @ID_SUCURSAL INT
AS
INSERT INTO VENTA (Fecha,ID_usuario,Direccion,Total,Modo_envio,Modo_pago,Nro_tajeta,Codigo_tarjeta,ID_sucursal)
VALUES
(
@FECHAVENTA, 
@ID_USUARIO,
@DIRECCION,
@TOTAL, 
@MODO_ENVIO,
@MODO_PAGO,
@NROTARJETA,
@CODTARJETA,
@ID_SUCURSAL
) 
RETURN 
GO
